.hiscore-container{
    margin: 0 auto;
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
}

.hiscore-table{
    margin: 0 auto;
    width: 500px;
    height: 400px;
    background-color: hsla(178, 0%, 100%, 0.05);
    border-radius: 10px;
    padding: 9px;
}

.hiscore-table-header{
    font-size: 30px;
}

.hiscore-user{
    color: white;
    text-decoration: none;
}

td{
    font-size: 15px;
}