.hiscore-container{
    margin: auto;
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
}

.hiscore-table{
    margin: 0 auto;
}

.hiscore-table-header{
    font-size: 30px;
}

.hiscore-user{
    color: white;
    text-decoration: none;
}

td{
    font-size: 15px;
}