
.section-container {
    
}

.inner-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 3px;
    text-align: center;
    width: 600px;
    height: 700px;
    background-color: hsla(178, 0%, 100%, 0.021);
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 3px;
}


#center-container {
    grid-area: 2 / 2 / 2 / 5;
    border: white 1px solid;
    margin: 0;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-message {
    grid-area: 3 / 2 / 3 / 5;
    font-size: 28px;    
    align-self: center;
}

.players {
    grid-area: 4 / 2 / 4 / 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

#winner-points, #loser-points {
  padding-top: 19px;
  font-size: 30px;
}

.conf-wrap {
  position: relative;
  min-height: 100vh;
}

[class|="conf"] {
  position: absolute;
}

.conf-0 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 36%;
  opacity: 0.7;
  -webkit-transform: rotate(275.6143855902deg);
          transform: rotate(275.6143855902deg);
  -webkit-animation: drop-0 4.0169503455s 0.3940320242s infinite;
          animation: drop-0 4.0169503455s 0.3940320242s infinite;
}

@-webkit-keyframes drop-0 {
  100% {
    top: 110%;
    left: 51%;
  }
}

@keyframes drop-0 {
  100% {
    top: 110%;
    left: 51%;
  }
}
.conf-1 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 48%;
  opacity: 0.7;
  -webkit-transform: rotate(333.5429718358deg);
          transform: rotate(333.5429718358deg);
  -webkit-animation: drop-1 4.696192303s 0.5514230117s infinite;
          animation: drop-1 4.696192303s 0.5514230117s infinite;
}

@-webkit-keyframes drop-1 {
  100% {
    top: 110%;
    left: 50%;
  }
}

@keyframes drop-1 {
  100% {
    top: 110%;
    left: 50%;
  }
}
.conf-2 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 83%;
  opacity: 0.7;
  -webkit-transform: rotate(315.2880512405deg);
          transform: rotate(315.2880512405deg);
  -webkit-animation: drop-2 4.2919958119s 0.1427913744s infinite;
          animation: drop-2 4.2919958119s 0.1427913744s infinite;
}

@-webkit-keyframes drop-2 {
  100% {
    top: 110%;
    left: 91%;
  }
}

@keyframes drop-2 {
  100% {
    top: 110%;
    left: 91%;
  }
}
.conf-3 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 51%;
  opacity: 0.7;
  -webkit-transform: rotate(307.1211299587deg);
          transform: rotate(307.1211299587deg);
  -webkit-animation: drop-3 4.5810484606s 0.9282010219s infinite;
          animation: drop-3 4.5810484606s 0.9282010219s infinite;
}

@-webkit-keyframes drop-3 {
  100% {
    top: 110%;
    left: 57%;
  }
}

@keyframes drop-3 {
  100% {
    top: 110%;
    left: 57%;
  }
}
.conf-4 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 68%;
  opacity: 0.7;
  -webkit-transform: rotate(270.2193204766deg);
          transform: rotate(270.2193204766deg);
  -webkit-animation: drop-4 4.8455576775s 0.6310957797s infinite;
          animation: drop-4 4.8455576775s 0.6310957797s infinite;
}

@-webkit-keyframes drop-4 {
  100% {
    top: 110%;
    left: 70%;
  }
}

@keyframes drop-4 {
  100% {
    top: 110%;
    left: 70%;
  }
}
.conf-5 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 66%;
  opacity: 0.7;
  -webkit-transform: rotate(320.4816089754deg);
          transform: rotate(320.4816089754deg);
  -webkit-animation: drop-5 4.4473710874s 0.5248366536s infinite;
          animation: drop-5 4.4473710874s 0.5248366536s infinite;
}

@-webkit-keyframes drop-5 {
  100% {
    top: 110%;
    left: 76%;
  }
}

@keyframes drop-5 {
  100% {
    top: 110%;
    left: 76%;
  }
}
.conf-6 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 42%;
  opacity: 0.7;
  -webkit-transform: rotate(280.8036306376deg);
          transform: rotate(280.8036306376deg);
  -webkit-animation: drop-6 4.9592339872s 0.9000353132s infinite;
          animation: drop-6 4.9592339872s 0.9000353132s infinite;
}

@-webkit-keyframes drop-6 {
  100% {
    top: 110%;
    left: 43%;
  }
}

@keyframes drop-6 {
  100% {
    top: 110%;
    left: 43%;
  }
}
.conf-7 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 100%;
  opacity: 0.7;
  -webkit-transform: rotate(80.9003947357deg);
          transform: rotate(80.9003947357deg);
  -webkit-animation: drop-7 4.5964324119s 0.9980410423s infinite;
          animation: drop-7 4.5964324119s 0.9980410423s infinite;
}

@-webkit-keyframes drop-7 {
  100% {
    top: 110%;
    left: 105%;
  }
}

@keyframes drop-7 {
  100% {
    top: 110%;
    left: 105%;
  }
}
.conf-8 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 66%;
  opacity: 0.7;
  -webkit-transform: rotate(300.6837443651deg);
          transform: rotate(300.6837443651deg);
  -webkit-animation: drop-8 4.1241707204s 0.8679605113s infinite;
          animation: drop-8 4.1241707204s 0.8679605113s infinite;
}

@-webkit-keyframes drop-8 {
  100% {
    top: 110%;
    left: 79%;
  }
}

@keyframes drop-8 {
  100% {
    top: 110%;
    left: 79%;
  }
}
.conf-9 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 29%;
  opacity: 0.7;
  -webkit-transform: rotate(195.63148194deg);
          transform: rotate(195.63148194deg);
  -webkit-animation: drop-9 4.7489150339s 0.2353777068s infinite;
          animation: drop-9 4.7489150339s 0.2353777068s infinite;
}

@-webkit-keyframes drop-9 {
  100% {
    top: 110%;
    left: 42%;
  }
}

@keyframes drop-9 {
  100% {
    top: 110%;
    left: 42%;
  }
}
.conf-10 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 4%;
  opacity: 0.7;
  -webkit-transform: rotate(10.9943761519deg);
          transform: rotate(10.9943761519deg);
  -webkit-animation: drop-10 4.7450999325s 0.8923273752s infinite;
          animation: drop-10 4.7450999325s 0.8923273752s infinite;
}

@-webkit-keyframes drop-10 {
  100% {
    top: 110%;
    left: 19%;
  }
}

@keyframes drop-10 {
  100% {
    top: 110%;
    left: 19%;
  }
}
.conf-11 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 41%;
  opacity: 0.7;
  -webkit-transform: rotate(278.754924266deg);
          transform: rotate(278.754924266deg);
  -webkit-animation: drop-11 4.6281084492s 0.0833887262s infinite;
          animation: drop-11 4.6281084492s 0.0833887262s infinite;
}

@-webkit-keyframes drop-11 {
  100% {
    top: 110%;
    left: 48%;
  }
}

@keyframes drop-11 {
  100% {
    top: 110%;
    left: 48%;
  }
}
.conf-12 {
  width: 4px;
  height: 1.6px;
  background-color: rosybrown;
  top: -10%;
  left: 69%;
  opacity: 0.7;
  -webkit-transform: rotate(64.4456849882deg);
          transform: rotate(64.4456849882deg);
  -webkit-animation: drop-12 4.1953673916s 0.3767923389s infinite;
          animation: drop-12 4.1953673916s 0.3767923389s infinite;
}

@-webkit-keyframes drop-12 {
  100% {
    top: 110%;
    left: 83%;
  }
}

@keyframes drop-12 {
  100% {
    top: 110%;
    left: 83%;
  }
}
.conf-13 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 9%;
  opacity: 0.7;
  -webkit-transform: rotate(267.7848088454deg);
          transform: rotate(267.7848088454deg);
  -webkit-animation: drop-13 4.1765370608s 0.0766706825s infinite;
          animation: drop-13 4.1765370608s 0.0766706825s infinite;
}

@-webkit-keyframes drop-13 {
  100% {
    top: 110%;
    left: 18%;
  }
}

@keyframes drop-13 {
  100% {
    top: 110%;
    left: 18%;
  }
}
.conf-14 {
  width: 2px;
  height: 0.8px;
  background-color: rgba(71, 243, 32, 1);
  top: -10%;
  left: 19%;
  opacity: 0.7;
  -webkit-transform: rotate(241.7407203136deg);
          transform: rotate(241.7407203136deg);
  -webkit-animation: drop-14 4.6013761423s 0.0360055174s infinite;
          animation: drop-14 4.6013761423s 0.0360055174s infinite;
}

@-webkit-keyframes drop-14 {
  100% {
    top: 110%;
    left: 29%;
  }
}

@keyframes drop-14 {
  100% {
    top: 110%;
    left: 29%;
  }
}
.conf-15 {
  width: 8px;
  height: 3.2px;
  background-color: rgba(180, 32, 243, 1);
  top: -10%;
  left: 37%;
  opacity: 0.7;
  -webkit-transform: rotate(251.6498073254deg);
          transform: rotate(251.6498073254deg);
  -webkit-animation: drop-15 4.0350486592s 0.4600416877s infinite;
          animation: drop-15 4.0350486592s 0.4600416877s infinite;
}

@-webkit-keyframes drop-15 {
  100% {
    top: 110%;
    left: 48%;
  }
}

@keyframes drop-15 {
  100% {
    top: 110%;
    left: 48%;
  }
}
.conf-16 {
  width: 2px;
  height: 0.8px;
  background-color: rgba(32, 43, 243, 1);
  top: -10%;
  left: 9%;
  opacity: 0.7;
  -webkit-transform: rotate(311.7049533256deg);
          transform: rotate(311.7049533256deg);
  -webkit-animation: drop-16 4.0390269892s 0.4920473564s infinite;
          animation: drop-16 4.0390269892s 0.4920473564s infinite;
}

@-webkit-keyframes drop-16 {
  100% {
    top: 110%;
    left: 23%;
  }
}

@keyframes drop-16 {
  100% {
    top: 110%;
    left: 23%;
  }
}
.conf-17 {
  width: 4px;
  height: 1.6px;
  background-color: rgba(32, 43, 243, 1);
  top: -10%;
  left: 68%;
  opacity: 0.7;
  -webkit-transform: rotate(134.9734048631deg);
          transform: rotate(134.9734048631deg);
  -webkit-animation: drop-17 4.6133109823s 0.6442364697s infinite;
          animation: drop-17 4.6133109823s 0.6442364697s infinite;
}

@-webkit-keyframes drop-17 {
  100% {
    top: 110%;
    left: 81%;
  }
}

@keyframes drop-17 {
  100% {
    top: 110%;
    left: 81%;
  }
}
.conf-18 {
  width: 7px;
  height: 2.8px;
  background-color: rgba(20, 255, 71, 1);
  top: -10%;
  left: 93%;
  opacity: 0.7;
  -webkit-transform: rotate(136.3929542371deg);
          transform: rotate(136.3929542371deg);
  -webkit-animation: drop-18 4.9512197387s 0.6937432376s infinite;
          animation: drop-18 4.9512197387s 0.6937432376s infinite;
}

@-webkit-keyframes drop-18 {
  100% {
    top: 110%;
    left: 96%;
  }
}

@keyframes drop-18 {
  100% {
    top: 110%;
    left: 96%;
  }
}
.conf-19 {
  width: 1px;
  height: 0.4px;
  background-color: rgba(20, 255, 71, 1);
  top: -10%;
  left: 81%;
  opacity: 0.7;
  -webkit-transform: rotate(127.3120627004deg);
          transform: rotate(127.3120627004deg);
  -webkit-animation: drop-19 4.0031995533s 0.0974635153s infinite;
          animation: drop-19 4.0031995533s 0.0974635153s infinite;
}

@-webkit-keyframes drop-19 {
  100% {
    top: 110%;
    left: 84%;
  }
}

@keyframes drop-19 {
  100% {
    top: 110%;
    left: 84%;
  }
}
.conf-20 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 93%;
  opacity: 0.7;
  -webkit-transform: rotate(109.2445011658deg);
          transform: rotate(109.2445011658deg);
  -webkit-animation: drop-20 4.6971758036s 0.6689259646s infinite;
          animation: drop-20 4.6971758036s 0.6689259646s infinite;
}

@-webkit-keyframes drop-20 {
  100% {
    top: 110%;
    left: 108%;
  }
}

@keyframes drop-20 {
  100% {
    top: 110%;
    left: 108%;
  }
}
.conf-21 {
  width: 2px;
  height: 0.8px;
  background-color: rgba(255, 67, 20, 1);
  top: -10%;
  left: 73%;
  opacity: 0.7;
  -webkit-transform: rotate(194.2541345051deg);
          transform: rotate(194.2541345051deg);
  -webkit-animation: drop-21 4.6606482321s 0.8887300439s infinite;
          animation: drop-21 4.6606482321s 0.8887300439s infinite;
}

@-webkit-keyframes drop-21 {
  100% {
    top: 110%;
    left: 76%;
  }
}

@keyframes drop-21 {
  100% {
    top: 110%;
    left: 76%;
  }
}
.conf-22 {
  width: 7px;
  height: 2.8px;
  background-color: rgba(255, 67, 20, 1);
  top: -10%;
  left: 88%;
  opacity: 0.7;
  -webkit-transform: rotate(96.7609687255deg);
          transform: rotate(96.7609687255deg);
  -webkit-animation: drop-22 4.3682469191s 0.8187987788s infinite;
          animation: drop-22 4.3682469191s 0.8187987788s infinite;
}

@-webkit-keyframes drop-22 {
  100% {
    top: 110%;
    left: 97%;
  }
}

@keyframes drop-22 {
  100% {
    top: 110%;
    left: 97%;
  }
}
.conf-23 {
  width: 5px;
  height: 2px;
  background-color: rgba(20, 255, 239, 1);
  top: -10%;
  left: 95%;
  opacity: 0.7;
  -webkit-transform: rotate(330.1539680053deg);
          transform: rotate(330.1539680053deg);
  -webkit-animation: drop-23 4.2114594292s 0.4128859572s infinite;
          animation: drop-23 4.2114594292s 0.4128859572s infinite;
}

@-webkit-keyframes drop-23 {
  100% {
    top: 110%;
    left: 103%;
  }
}

@keyframes drop-23 {
  100% {
    top: 110%;
    left: 103%;
  }
}
.conf-24 {
  width: 8px;
  height: 3.2px;
  background-color: rgba(20, 255, 239, 1);
  top: -10%;
  left: 67%;
  opacity: 0.7;
  -webkit-transform: rotate(12.2913695027deg);
          transform: rotate(12.2913695027deg);
  -webkit-animation: drop-24 4.7131360835s 0.2817660291s infinite;
          animation: drop-24 4.7131360835s 0.2817660291s infinite;
}

@-webkit-keyframes drop-24 {
  100% {
    top: 110%;
    left: 77%;
  }
}

@keyframes drop-24 {
  100% {
    top: 110%;
    left: 77%;
  }
}
.conf-25 {
  width: 4px;
  height: 1.6px;
  background-color: rgba(149, 23, 253, 1);
  top: -10%;
  left: 43%;
  opacity: 0.7;
  -webkit-transform: rotate(43.2817217694deg);
          transform: rotate(43.2817217694deg);
  -webkit-animation: drop-25 4.521200435s 0.4081410007s infinite;
          animation: drop-25 4.521200435s 0.4081410007s infinite;
}

@-webkit-keyframes drop-25 {
  100% {
    top: 110%;
    left: 56%;
  }
}

@keyframes drop-25 {
  100% {
    top: 110%;
    left: 56%;
  }
}
.conf-26 {
  width: 8px;
  height: 3.2px;
  background-color: rgba(253, 233, 53, 1);
  top: -10%;
  left: 24%;
  opacity: 0.7;
  -webkit-transform: rotate(92.0408358506deg);
          transform: rotate(92.0408358506deg);
  -webkit-animation: drop-26 4.6349725306s 0.0292984109s infinite;
          animation: drop-26 4.6349725306s 0.0292984109s infinite;
}

@-webkit-keyframes drop-26 {
  100% {
    top: 110%;
    left: 28%;
  }
}

@keyframes drop-26 {
  100% {
    top: 110%;
    left: 28%;
  }
}
.conf-27 {
  width: 8px;
  height: 3.2px;
  background-color: rgba(253, 233, 53, 1);
  top: -10%;
  left: 29%;
  opacity: 0.7;
  -webkit-transform: rotate(123.4370876361deg);
          transform: rotate(123.4370876361deg);
  -webkit-animation: drop-27 4.0015709364s 0.7061441008s infinite;
          animation: drop-27 4.0015709364s 0.7061441008s infinite;
}

@-webkit-keyframes drop-27 {
  100% {
    top: 110%;
    left: 30%;
  }
}

@keyframes drop-27 {
  100% {
    top: 110%;
    left: 30%;
  }
}
.conf-28 {
  width: 8px;
  height: 3.2px;
  background-color: rgba(253, 233, 53, 1);
  top: -10%;
  left: 13%;
  opacity: 0.7;
  -webkit-transform: rotate(191.1138041018deg);
          transform: rotate(191.1138041018deg);
  -webkit-animation: drop-28 4.3035785077s 0.5252577707s infinite;
          animation: drop-28 4.3035785077s 0.5252577707s infinite;
}

@-webkit-keyframes drop-28 {
  100% {
    top: 110%;
    left: 20%;
  }
}

@keyframes drop-28 {
  100% {
    top: 110%;
    left: 20%;
  }
}
.conf-29 {
  width: 8px;
  height: 3.2px;
  background-color: rgba(53, 253, 186, 1);
  top: -10%;
  left: 53%;
  opacity: 0.7;
  -webkit-transform: rotate(283.5426198118deg);
          transform: rotate(283.5426198118deg);
  -webkit-animation: drop-29 4.2764033632s 0.5526577158s infinite;
          animation: drop-29 4.2764033632s 0.5526577158s infinite;
}

@-webkit-keyframes drop-29 {
  100% {
    top: 110%;
    left: 59%;
  }
}

@keyframes drop-29 {
  100% {
    top: 110%;
    left: 59%;
  }
}
.conf-30 {
  width: 1px;
  height: 0.4px;
  background-color: rgba(53, 253, 186, 1);
  top: -10%;
  left: 41%;
  opacity: 0.7;
  -webkit-transform: rotate(349.841162555deg);
          transform: rotate(349.841162555deg);
  -webkit-animation: drop-30 4.9940243278s 0.9534170987s infinite;
          animation: drop-30 4.9940243278s 0.9534170987s infinite;
}

@-webkit-keyframes drop-30 {
  100% {
    top: 110%;
    left: 45%;
  }
}

@keyframes drop-30 {
  100% {
    top: 110%;
    left: 45%;
  }
}
.conf-31 {
  width: 4px;
  height: 1.6px;
  background-color: rgba(53, 253, 186, 1);
  top: -10%;
  left: 65%;
  opacity: 0.7;
  -webkit-transform: rotate(284.0883918107deg);
          transform: rotate(284.0883918107deg);
  -webkit-animation: drop-31 4.6469508955s 0.2149853384s infinite;
          animation: drop-31 4.6469508955s 0.2149853384s infinite;
}

@-webkit-keyframes drop-31 {
  100% {
    top: 110%;
    left: 72%;
  }
}

@keyframes drop-31 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.conf-32 {
  width: 7px;
  height: 2.8px;
  background-color: rgba(65, 253, 23, 1);
  top: -10%;
  left: 87%;
  opacity: 0.7;
  -webkit-transform: rotate(313.4190837417deg);
          transform: rotate(313.4190837417deg);
  -webkit-animation: drop-32 4.6037768224s 0.0854502453s infinite;
          animation: drop-32 4.6037768224s 0.0854502453s infinite;
}

@-webkit-keyframes drop-32 {
  100% {
    top: 110%;
    left: 98%;
  }
}

@keyframes drop-32 {
  100% {
    top: 110%;
    left: 98%;
  }
}
.conf-33 {
  width: 5px;
  height: 2px;
  background-color: rgba(65, 253, 23, 1);
  top: -10%;
  left: 61%;
  opacity: 0.7;
  -webkit-transform: rotate(15.1904966991deg);
          transform: rotate(15.1904966991deg);
  -webkit-animation: drop-33 4.799749704s 0.4986250681s infinite;
          animation: drop-33 4.799749704s 0.4986250681s infinite;
}

@-webkit-keyframes drop-33 {
  100% {
    top: 110%;
    left: 63%;
  }
}

@keyframes drop-33 {
  100% {
    top: 110%;
    left: 63%;
  }
}
.conf-34 {
  width: 4px;
  height: 1.6px;
  background-color: rgba(65, 253, 23, 1);
  top: -10%;
  left: 27%;
  opacity: 0.7;
  -webkit-transform: rotate(288.5140915802deg);
          transform: rotate(288.5140915802deg);
  -webkit-animation: drop-34 4.0713286157s 0.6021373408s infinite;
          animation: drop-34 4.0713286157s 0.6021373408s infinite;
}

@-webkit-keyframes drop-34 {
  100% {
    top: 110%;
    left: 28%;
  }
}

@keyframes drop-34 {
  100% {
    top: 110%;
    left: 28%;
  }
}
.conf-35 {
  width: 6px;
  height: 2.4px;
  background-color: rgba(253, 23, 23, 1);
  top: -10%;
  left: 29%;
  opacity: 0.7;
  -webkit-transform: rotate(118.4528414756deg);
          transform: rotate(118.4528414756deg);
  -webkit-animation: drop-35 4.9871139784s 0.8204586222s infinite;
          animation: drop-35 4.9871139784s 0.8204586222s infinite;
}

@-webkit-keyframes drop-35 {
  100% {
    top: 110%;
    left: 43%;
  }
}

@keyframes drop-35 {
  100% {
    top: 110%;
    left: 43%;
  }
}
.conf-36 {
  width: 2px;
  height: 0.8px;
  background-color: rgba(253, 23, 23, 1);
  top: -10%;
  left: 2%;
  opacity: 0.7;
  -webkit-transform: rotate(260.2752301594deg);
          transform: rotate(260.2752301594deg);
  -webkit-animation: drop-36 4.5588271636s 0.231002515s infinite;
          animation: drop-36 4.5588271636s 0.231002515s infinite;
}

@-webkit-keyframes drop-36 {
  100% {
    top: 110%;
    left: 5%;
  }
}

@keyframes drop-36 {
  100% {
    top: 110%;
    left: 5%;
  }
}
.conf-37 {
  width: 5px;
  height: 2px;
  background-color: rgba(253, 23, 119, 1);
  top: -10%;
  left: 26%;
  opacity: 0.7;
  -webkit-transform: rotate(123.2752465849deg);
          transform: rotate(123.2752465849deg);
  -webkit-animation: drop-37 4.476853325s 0.4817846477s infinite;
          animation: drop-37 4.476853325s 0.4817846477s infinite;
}

@-webkit-keyframes drop-37 {
  100% {
    top: 110%;
    left: 28%;
  }
}

@keyframes drop-37 {
  100% {
    top: 110%;
    left: 28%;
  }
}
.conf-38 {
  width: 1px;
  height: 0.4px;
  background-color: rgba(253, 23, 119, 1);
  top: -10%;
  left: 52%;
  opacity: 0.7;
  -webkit-transform: rotate(87.4205826129deg);
          transform: rotate(87.4205826129deg);
  -webkit-animation: drop-38 4.8803150307s 0.6319883999s infinite;
          animation: drop-38 4.8803150307s 0.6319883999s infinite;
}

@-webkit-keyframes drop-38 {
  100% {
    top: 110%;
    left: 56%;
  }
}

@keyframes drop-38 {
  100% {
    top: 110%;
    left: 56%;
  }
}
.conf-39 {
  width: 5px;
  height: 2px;
  background-color: rgba(253, 23, 119, 1);
  top: -10%;
  left: 61%;
  opacity: 0.7;
  -webkit-transform: rotate(247.4073440526deg);
          transform: rotate(247.4073440526deg);
  -webkit-animation: drop-39 4.1469035306s 0.5805985255s infinite;
          animation: drop-39 4.1469035306s 0.5805985255s infinite;
}

@-webkit-keyframes drop-39 {
  100% {
    top: 110%;
    left: 71%;
  }
}

@keyframes drop-39 {
  100% {
    top: 110%;
    left: 71%;
  }
}
.conf-40 {
  width: 7px;
  height: 2.8px;
  background-color: rgba(253, 58, 253, 1);
  top: -10%;
  left: 69%;
  opacity: 0.7;
  -webkit-transform: rotate(119.9108763219deg);
          transform: rotate(119.9108763219deg);
  -webkit-animation: drop-40 4.464316896s 0.5506943531s infinite;
          animation: drop-40 4.464316896s 0.5506943531s infinite;
}

@-webkit-keyframes drop-40 {
  100% {
    top: 110%;
    left: 72%;
  }
}

@keyframes drop-40 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.conf-41 {
  width: 4px;
  height: 1.6px;
  background-color: rgba(253, 58, 253, 1);
  top: -10%;
  left: 98%;
  opacity: 0.7;
  -webkit-transform: rotate(227.775612843deg);
          transform: rotate(227.775612843deg);
  -webkit-animation: drop-41 4.6219186968s 0.5790641257s infinite;
          animation: drop-41 4.6219186968s 0.5790641257s infinite;
}

@-webkit-keyframes drop-41 {
  100% {
    top: 110%;
    left: 109%;
  }
}

@keyframes drop-41 {
  100% {
    top: 110%;
    left: 109%;
  }
}
.conf-42 {
  width: 4px;
  height: 1.6px;
  background-color: rgba(253, 58, 253, 1);
  top: -10%;
  left: 98%;
  opacity: 0.7;
  -webkit-transform: rotate(188.7716735883deg);
          transform: rotate(188.7716735883deg);
  -webkit-animation: drop-42 4.5634717508s 0.3719353578s infinite;
          animation: drop-42 4.5634717508s 0.3719353578s infinite;
}

@-webkit-keyframes drop-42 {
  100% {
    top: 110%;
    left: 106%;
  }
}

@keyframes drop-42 {
  100% {
    top: 110%;
    left: 106%;
  }
}
.conf-43 {
  width: 7px;
  height: 2.8px;
  background-color: rgba(253, 58, 253, 1);
  top: -10%;
  left: 50%;
  opacity: 0.7;
  -webkit-transform: rotate(222.7684975731deg);
          transform: rotate(222.7684975731deg);
  -webkit-animation: drop-43 4.1875815911s 0.797226208s infinite;
          animation: drop-43 4.1875815911s 0.797226208s infinite;
}

@-webkit-keyframes drop-43 {
  100% {
    top: 110%;
    left: 60%;
  }
}

@keyframes drop-43 {
  100% {
    top: 110%;
    left: 60%;
  }
}
.conf-44 {
  width: 4px;
  height: 1.6px;
  background-color: rgba(58, 81, 253, 1);
  top: -10%;
  left: 39%;
  opacity: 0.7;
  -webkit-transform: rotate(139.6621448665deg);
          transform: rotate(139.6621448665deg);
  -webkit-animation: drop-44 4.0303063132s 0.621282389s infinite;
          animation: drop-44 4.0303063132s 0.621282389s infinite;
}

@-webkit-keyframes drop-44 {
  100% {
    top: 110%;
    left: 42%;
  }
}

@keyframes drop-44 {
  100% {
    top: 110%;
    left: 42%;
  }
}
.conf-45 {
  width: 8px;
  height: 3.2px;
  background-color: rgba(58, 81, 253, 1);
  top: -10%;
  left: 78%;
  opacity: 0.7;
  -webkit-transform: rotate(259.0976095092deg);
          transform: rotate(259.0976095092deg);
  -webkit-animation: drop-45 4.1911845776s 0.5135289027s infinite;
          animation: drop-45 4.1911845776s 0.5135289027s infinite;
}

@-webkit-keyframes drop-45 {
  100% {
    top: 110%;
    left: 92%;
  }
}

@keyframes drop-45 {
  100% {
    top: 110%;
    left: 92%;
  }
}
.conf-46 {
  width: 6px;
  height: 2.4px;
  background-color: rgba(58, 81, 253, 1);
  top: -10%;
  left: 54%;
  opacity: 0.7;
  -webkit-transform: rotate(159.0932312631deg);
          transform: rotate(159.0932312631deg);
  -webkit-animation: drop-46 4.3373899951s 0.1069883062s infinite;
          animation: drop-46 4.3373899951s 0.1069883062s infinite;
}

@-webkit-keyframes drop-46 {
  100% {
    top: 110%;
    left: 56%;
  }
}

@keyframes drop-46 {
  100% {
    top: 110%;
    left: 56%;
  }
}
.conf-47 {
  width: 6px;
  height: 2.4px;
  background-color: rgba(217, 58, 253, 1);
  top: -10%;
  left: 30%;
  opacity: 0.7;
  -webkit-transform: rotate(184.1098483155deg);
          transform: rotate(184.1098483155deg);
  -webkit-animation: drop-47 4.0925323844s 0.4062753555s infinite;
          animation: drop-47 4.0925323844s 0.4062753555s infinite;
}

@-webkit-keyframes drop-47 {
  100% {
    top: 110%;
    left: 32%;
  }
}

@keyframes drop-47 {
  100% {
    top: 110%;
    left: 32%;
  }
}
.conf-48 {
  width: 2px;
  height: 0.8px;
  background-color: rgba(217, 58, 253, 1);
  top: -10%;
  left: 59%;
  opacity: 0.7;
  -webkit-transform: rotate(52.4161164642deg);
          transform: rotate(52.4161164642deg);
  -webkit-animation: drop-48 4.2629649571s 0.8901314859s infinite;
          animation: drop-48 4.2629649571s 0.8901314859s infinite;
}

@-webkit-keyframes drop-48 {
  100% {
    top: 110%;
    left: 66%;
  }
}

@keyframes drop-48 {
  100% {
    top: 110%;
    left: 66%;
  }
}
.conf-49 {
  width: 8px;
  height: 3.2px;
  background-color: rgba(217, 58, 253, 1);
  top: -10%;
  left: 56%;
  opacity: 0.7;
  -webkit-transform: rotate(0.7791353041deg);
          transform: rotate(0.7791353041deg);
  -webkit-animation: drop-49 4.5793669396s 0.6200101173s infinite;
          animation: drop-49 4.5793669396s 0.6200101173s infinite;
}

@-webkit-keyframes drop-49 {
  100% {
    top: 110%;
    left: 69%;
  }
}

@keyframes drop-49 {
  100% {
    top: 110%;
    left: 69%;
  }
}
.conf-50 {
  width: 3px;
  height: 1.2px;
  background-color: rgba(217, 58, 253, 1);
  top: -10%;
  left: 96%;
  opacity: 0.7;
  -webkit-transform: rotate(170.5747643032deg);
          transform: rotate(170.5747643032deg);
  -webkit-animation: drop-50 4.8465531949s 0.0170135352s infinite;
          animation: drop-50 4.8465531949s 0.0170135352s infinite;
}

@-webkit-keyframes drop-50 {
  100% {
    top: 110%;
    left: 104%;
  }
}

@keyframes drop-50 {
  100% {
    top: 110%;
    left: 104%;
  }
}
/* .conf-51 {
  width: 6px;
  height: 2.4px;
  background-color: rgba(217, 58, 253, 1);
  top: -10%;
  left: 80%;
  opacity: 0.7;
  -webkit-transform: rotate(53.5827040638deg);
          transform: rotate(53.5827040638deg);
  -webkit-animation: drop-51 4.8391051966s 0.9665197435s infinite;
          animation: drop-51 4.8391051966s 0.9665197435s infinite;
}

@-webkit-keyframes drop-51 {
  100% {
    top: 110%;
    left: 95%;
  }
}

@keyframes drop-51 {
  100% {
    top: 110%;
    left: 95%;
  }
}
.conf-52 {
  width: 2px;
  height: 0.8px;
  background-color: rgba(217, 58, 253, 1);
  top: -10%;
  left: 12%;
  opacity: 0.7;
  -webkit-transform: rotate(71.3078347296deg);
          transform: rotate(71.3078347296deg);
  -webkit-animation: drop-52 4.3836033244s 0.6634015795s infinite;
          animation: drop-52 4.3836033244s 0.6634015795s infinite;
}

@-webkit-keyframes drop-52 {
  100% {
    top: 110%;
    left: 26%;
  }
}

@keyframes drop-52 {
  100% {
    top: 110%;
    left: 26%;
  }
}
.conf-53 {
  width: 6px;
  height: 2.4px;
  background-color: rgba(58, 253, 91, 1);
  top: -10%;
  left: 57%;
  opacity: 0.7;
  -webkit-transform: rotate(143.9028870768deg);
          transform: rotate(143.9028870768deg);
  -webkit-animation: drop-53 4.2777042711s 0.3483245243s infinite;
          animation: drop-53 4.2777042711s 0.3483245243s infinite;
}

@-webkit-keyframes drop-53 {
  100% {
    top: 110%;
    left: 70%;
  }
}

@keyframes drop-53 {
  100% {
    top: 110%;
    left: 70%;
  }
}
.conf-54 {
  width: 1px;
  height: 0.4px;
  background-color: rgba(58, 253, 91, 1);
  top: -10%;
  left: 8%;
  opacity: 0.7;
  -webkit-transform: rotate(345.9176883703deg);
          transform: rotate(345.9176883703deg);
  -webkit-animation: drop-54 4.3393922915s 0.1287470889s infinite;
          animation: drop-54 4.3393922915s 0.1287470889s infinite;
}

@-webkit-keyframes drop-54 {
  100% {
    top: 110%;
    left: 21%;
  }
}

@keyframes drop-54 {
  100% {
    top: 110%;
    left: 21%;
  }
}
.conf-55 {
  width: 1px;
  height: 0.4px;
  background-color: rgba(58, 253, 91, 1);
  top: -10%;
  left: 93%;
  opacity: 0.7;
  -webkit-transform: rotate(77.3889237078deg);
          transform: rotate(77.3889237078deg);
  -webkit-animation: drop-55 4.0077089048s 0.4834444001s infinite;
          animation: drop-55 4.0077089048s 0.4834444001s infinite;
}

@-webkit-keyframes drop-55 {
  100% {
    top: 110%;
    left: 105%;
  }
}

@keyframes drop-55 {
  100% {
    top: 110%;
    left: 105%;
  }
}
.conf-56 {
  width: 3px;
  height: 1.2px;
  background-color: rgba(58, 253, 91, 1);
  top: -10%;
  left: 8%;
  opacity: 0.7;
  -webkit-transform: rotate(5.8531794646deg);
          transform: rotate(5.8531794646deg);
  -webkit-animation: drop-56 4.746229561s 0.1255813636s infinite;
          animation: drop-56 4.746229561s 0.1255813636s infinite;
}

@-webkit-keyframes drop-56 {
  100% {
    top: 110%;
    left: 23%;
  }
}

@keyframes drop-56 {
  100% {
    top: 110%;
    left: 23%;
  }
}
.conf-57 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 2%;
  opacity: 0.7;
  -webkit-transform: rotate(315.4393940165deg);
          transform: rotate(315.4393940165deg);
  -webkit-animation: drop-57 4.1484757287s 0.0154176825s infinite;
          animation: drop-57 4.1484757287s 0.0154176825s infinite;
}

@-webkit-keyframes drop-57 {
  100% {
    top: 110%;
    left: 7%;
  }
}

@keyframes drop-57 {
  100% {
    top: 110%;
    left: 7%;
  }
}
.conf-58 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 39%;
  opacity: 0.7;
  -webkit-transform: rotate(215.6724244198deg);
          transform: rotate(215.6724244198deg);
  -webkit-animation: drop-58 4.2298490879s 0.4987764466s infinite;
          animation: drop-58 4.2298490879s 0.4987764466s infinite;
}

@-webkit-keyframes drop-58 {
  100% {
    top: 110%;
    left: 42%;
  }
}

@keyframes drop-58 {
  100% {
    top: 110%;
    left: 42%;
  }
}
.conf-59 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 12%;
  opacity: 0.7;
  -webkit-transform: rotate(84.7611150611deg);
          transform: rotate(84.7611150611deg);
  -webkit-animation: drop-59 4.6127234505s 0.2003880363s infinite;
          animation: drop-59 4.6127234505s 0.2003880363s infinite;
}

@-webkit-keyframes drop-59 {
  100% {
    top: 110%;
    left: 27%;
  }
}

@keyframes drop-59 {
  100% {
    top: 110%;
    left: 27%;
  }
}
.conf-60 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 40%;
  opacity: 0.7;
  -webkit-transform: rotate(42.63190667deg);
          transform: rotate(42.63190667deg);
  -webkit-animation: drop-60 4.9162791238s 0.1041415762s infinite;
          animation: drop-60 4.9162791238s 0.1041415762s infinite;
}

@-webkit-keyframes drop-60 {
  100% {
    top: 110%;
    left: 55%;
  }
}

@keyframes drop-60 {
  100% {
    top: 110%;
    left: 55%;
  }
}
.conf-61 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 99%;
  opacity: 0.7;
  -webkit-transform: rotate(100.4327645179deg);
          transform: rotate(100.4327645179deg);
  -webkit-animation: drop-61 4.8551861182s 0.1653932945s infinite;
          animation: drop-61 4.8551861182s 0.1653932945s infinite;
}

@-webkit-keyframes drop-61 {
  100% {
    top: 110%;
    left: 114%;
  }
}

@keyframes drop-61 {
  100% {
    top: 110%;
    left: 114%;
  }
}
.conf-62 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 64%;
  opacity: 0.7;
  -webkit-transform: rotate(256.1721053959deg);
          transform: rotate(256.1721053959deg);
  -webkit-animation: drop-62 4.9615398674s 0.0615348124s infinite;
          animation: drop-62 4.9615398674s 0.0615348124s infinite;
}

@-webkit-keyframes drop-62 {
  100% {
    top: 110%;
    left: 78%;
  }
}

@keyframes drop-62 {
  100% {
    top: 110%;
    left: 78%;
  }
}
.conf-63 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 63%;
  opacity: 0.7;
  -webkit-transform: rotate(136.6069336226deg);
          transform: rotate(136.6069336226deg);
  -webkit-animation: drop-63 4.522083714s 0.5738047645s infinite;
          animation: drop-63 4.522083714s 0.5738047645s infinite;
}

@-webkit-keyframes drop-63 {
  100% {
    top: 110%;
    left: 70%;
  }
}

@keyframes drop-63 {
  100% {
    top: 110%;
    left: 70%;
  }
}
.conf-64 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 61%;
  opacity: 0.7;
  -webkit-transform: rotate(175.748174164deg);
          transform: rotate(175.748174164deg);
  -webkit-animation: drop-64 4.4801166318s 0.6896834993s infinite;
          animation: drop-64 4.4801166318s 0.6896834993s infinite;
}

@-webkit-keyframes drop-64 {
  100% {
    top: 110%;
    left: 75%;
  }
}

@keyframes drop-64 {
  100% {
    top: 110%;
    left: 75%;
  }
}
.conf-65 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 96%;
  opacity: 0.7;
  -webkit-transform: rotate(41.5829358945deg);
          transform: rotate(41.5829358945deg);
  -webkit-animation: drop-65 4.4528373796s 0.6890177701s infinite;
          animation: drop-65 4.4528373796s 0.6890177701s infinite;
}

@-webkit-keyframes drop-65 {
  100% {
    top: 110%;
    left: 105%;
  }
}

@keyframes drop-65 {
  100% {
    top: 110%;
    left: 105%;
  }
}
.conf-66 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 96%;
  opacity: 0.7;
  -webkit-transform: rotate(250.6518964654deg);
          transform: rotate(250.6518964654deg);
  -webkit-animation: drop-66 4.05311568s 0.9520227819s infinite;
          animation: drop-66 4.05311568s 0.9520227819s infinite;
}

@-webkit-keyframes drop-66 {
  100% {
    top: 110%;
    left: 105%;
  }
}

@keyframes drop-66 {
  100% {
    top: 110%;
    left: 105%;
  }
}
.conf-67 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 34%;
  opacity: 0.7;
  -webkit-transform: rotate(116.4993258375deg);
          transform: rotate(116.4993258375deg);
  -webkit-animation: drop-67 4.7033890621s 0.5265588551s infinite;
          animation: drop-67 4.7033890621s 0.5265588551s infinite;
}

@-webkit-keyframes drop-67 {
  100% {
    top: 110%;
    left: 42%;
  }
}

@keyframes drop-67 {
  100% {
    top: 110%;
    left: 42%;
  }
}
.conf-68 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 67%;
  opacity: 0.7;
  -webkit-transform: rotate(171.9260100877deg);
          transform: rotate(171.9260100877deg);
  -webkit-animation: drop-68 4.7890997402s 0.7368635509s infinite;
          animation: drop-68 4.7890997402s 0.7368635509s infinite;
}

@-webkit-keyframes drop-68 {
  100% {
    top: 110%;
    left: 80%;
  }
}

@keyframes drop-68 {
  100% {
    top: 110%;
    left: 80%;
  }
}
.conf-69 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 64%;
  opacity: 0.7;
  -webkit-transform: rotate(200.9434431262deg);
          transform: rotate(200.9434431262deg);
  -webkit-animation: drop-69 4.3629930579s 0.9085659573s infinite;
          animation: drop-69 4.3629930579s 0.9085659573s infinite;
}

@-webkit-keyframes drop-69 {
  100% {
    top: 110%;
    left: 70%;
  }
}

@keyframes drop-69 {
  100% {
    top: 110%;
    left: 70%;
  }
}
.conf-70 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 36%;
  opacity: 0.7;
  -webkit-transform: rotate(52.4159876633deg);
          transform: rotate(52.4159876633deg);
  -webkit-animation: drop-70 4.0448879001s 0.6055502582s infinite;
          animation: drop-70 4.0448879001s 0.6055502582s infinite;
}

@-webkit-keyframes drop-70 {
  100% {
    top: 110%;
    left: 42%;
  }
}

@keyframes drop-70 {
  100% {
    top: 110%;
    left: 42%;
  }
}
.conf-71 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 71%;
  opacity: 0.7;
  -webkit-transform: rotate(95.1950359454deg);
          transform: rotate(95.1950359454deg);
  -webkit-animation: drop-71 4.8135900742s 0.0448744346s infinite;
          animation: drop-71 4.8135900742s 0.0448744346s infinite;
}

@-webkit-keyframes drop-71 {
  100% {
    top: 110%;
    left: 78%;
  }
}

@keyframes drop-71 {
  100% {
    top: 110%;
    left: 78%;
  }
}
.conf-72 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 75%;
  opacity: 0.7;
  -webkit-transform: rotate(352.5417644606deg);
          transform: rotate(352.5417644606deg);
  -webkit-animation: drop-72 4.3747313605s 0.6632033756s infinite;
          animation: drop-72 4.3747313605s 0.6632033756s infinite;
}

@-webkit-keyframes drop-72 {
  100% {
    top: 110%;
    left: 89%;
  }
}

@keyframes drop-72 {
  100% {
    top: 110%;
    left: 89%;
  }
}
.conf-73 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 48%;
  opacity: 0.7;
  -webkit-transform: rotate(264.0974774278deg);
          transform: rotate(264.0974774278deg);
  -webkit-animation: drop-73 4.3797168524s 0.7411819934s infinite;
          animation: drop-73 4.3797168524s 0.7411819934s infinite;
}

@-webkit-keyframes drop-73 {
  100% {
    top: 110%;
    left: 49%;
  }
}

@keyframes drop-73 {
  100% {
    top: 110%;
    left: 49%;
  }
}
.conf-74 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 82%;
  opacity: 0.7;
  -webkit-transform: rotate(63.2160622547deg);
          transform: rotate(63.2160622547deg);
  -webkit-animation: drop-74 4.0791974096s 0.5921940566s infinite;
          animation: drop-74 4.0791974096s 0.5921940566s infinite;
}

@-webkit-keyframes drop-74 {
  100% {
    top: 110%;
    left: 89%;
  }
}

@keyframes drop-74 {
  100% {
    top: 110%;
    left: 89%;
  }
}
.conf-75 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 47%;
  opacity: 0.7;
  -webkit-transform: rotate(232.2066961359deg);
          transform: rotate(232.2066961359deg);
  -webkit-animation: drop-75 4.6606850183s 0.120839558s infinite;
          animation: drop-75 4.6606850183s 0.120839558s infinite;
}

@-webkit-keyframes drop-75 {
  100% {
    top: 110%;
    left: 48%;
  }
}

@keyframes drop-75 {
  100% {
    top: 110%;
    left: 48%;
  }
}
.conf-76 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 41%;
  opacity: 0.7;
  -webkit-transform: rotate(12.0066061615deg);
          transform: rotate(12.0066061615deg);
  -webkit-animation: drop-76 4.2100003187s 0.9323968248s infinite;
          animation: drop-76 4.2100003187s 0.9323968248s infinite;
}

@-webkit-keyframes drop-76 {
  100% {
    top: 110%;
    left: 49%;
  }
}

@keyframes drop-76 {
  100% {
    top: 110%;
    left: 49%;
  }
}
.conf-77 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 91%;
  opacity: 0.7;
  -webkit-transform: rotate(210.4426799127deg);
          transform: rotate(210.4426799127deg);
  -webkit-animation: drop-77 4.9964777698s 0.1977684487s infinite;
          animation: drop-77 4.9964777698s 0.1977684487s infinite;
}

@-webkit-keyframes drop-77 {
  100% {
    top: 110%;
    left: 92%;
  }
}

@keyframes drop-77 {
  100% {
    top: 110%;
    left: 92%;
  }
}
.conf-78 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 27%;
  opacity: 0.7;
  -webkit-transform: rotate(105.8806545002deg);
          transform: rotate(105.8806545002deg);
  -webkit-animation: drop-78 4.4454427573s 0.8227256816s infinite;
          animation: drop-78 4.4454427573s 0.8227256816s infinite;
}

@-webkit-keyframes drop-78 {
  100% {
    top: 110%;
    left: 33%;
  }
}

@keyframes drop-78 {
  100% {
    top: 110%;
    left: 33%;
  }
}
.conf-79 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 25%;
  opacity: 0.7;
  -webkit-transform: rotate(116.5059832133deg);
          transform: rotate(116.5059832133deg);
  -webkit-animation: drop-79 4.7100039599s 0.7598330544s infinite;
          animation: drop-79 4.7100039599s 0.7598330544s infinite;
}

@-webkit-keyframes drop-79 {
  100% {
    top: 110%;
    left: 28%;
  }
}

@keyframes drop-79 {
  100% {
    top: 110%;
    left: 28%;
  }
} */